body{
    background: NavajoWhite;
}

canvas {
    margin-left: auto;
    margin-right: auto;
}

.row {
    padding: 30px 0px;
}
.container-1 {
    background: navy;
    color: coral;
    padding: 50px 0 0px 0;
}

.container-2 {
    background: coral;
    color: navy;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

.container-2 h2 {
    font-size:1.5em;
    text-transform: uppercase;
    font-weight: bold;
    }

.container-3 {
    background: navy;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    }

.container-4 {
    background: coral;
    padding: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

.container-5 {
    background: NavajoWhite;
    padding: 10px 0 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    
* {
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
}

.fs-1 {
font-size: 5rem!important;
}

#map {
    width: 100%;
    height: 500px;
    display: block;
}
.wrap {
    width: 90%; /*change width of searchbar */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    height: 60px;
    background-color: white;
    border: none;
    border-right: none;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    font-size: 20px;
}

.searchTerm:focus{
    color: navy;
}

.searchButton {
    width: 100px;
    background: coral;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#search-bar {
    margin-top: 0px;
}

#search-btn {
    margin-top: 0px;
}

.buttons{
    position:relative;
    text-align: center;
}

.btn-navy {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.btn-lg-navy {
    display: inline-block;
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.btn-navy:hover, .btn-lg-navy:hover {
    background-color: NavajoWhite;
    color: navy;
    border: none;
}

.btn-coral {
    display: inline-block;
    padding: 10px 20px;
    height: 60px;
    text-align: center;
    font-size: 15px;
    background-color: coral;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 5px 0px;
}

.btn-lg-coral {
    display: inline-block;
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    background-color: coral;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.btn-coral:hover, .btn-lg-coral:hover {
    background-color: NavajoWhite;
    color: coral;
    border: none;
}

label {
    display: inline-block;
    font-weight: bold;
  }

/* Always show up down arrow on number input*/
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

#floorsInput {
    width: 100px;
    color: navy;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    outline: none;
  }

.image {
    position: relative;
}

.custom-marker {
    width: 10px;
    height: 10px;
    background-color: navy;
  }

#coordinates {
    background: navy;
    display: flex;
    flex-direction: column
  }

#coordinates h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: coral;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}
#coordinates ul {
    font-size: 1em;
    color: coral;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-bottom: 30px;
}


/* Hide the delete button */
.leaflet-draw .leaflet-draw-edit-remove {
    display: none;
}

/* Hide the edit layers button */
.leaflet-draw .leaflet-draw-edit-edit {
    display: none;
}



input[type="number"] {
    margin: 10px;
}



/* ---------SINGLE DOUBLE TOGGLE ------------*/

/* Hide the default checkbox */
input[type="checkbox"] {
    display: none;
}

    /* Customize the toggle appearance */
.toggle {
    display: inline-block;
    width: 260px;
    height: 50px;
    background-color: coral;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin: 10px;
}

    /* Styling for the labels */
.toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    line-height: 30px;
    text-align:center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

    /* Color for the left label (Single) */
.toggle-label.left {
    background-color: NavajoWhite;
    color: navy;
    font-weight: lighter;
    border-radius: 15px 0 0 15px;
    font-size: 0.7em;
}

    /* Color for the right label (Double) */
.toggle-label.right {
    left: 50%;
    background-color: navy;
    border-radius: 0 15px 15px 0;
    font-weight: bold;
    font-size: 1.3em;
}


/* Styling for the labels in the active state */
.toggle-label.left.active {
    background-color: navy;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
}

/* Styling for the labels in the active state */
.toggle-label.right.active {
    background-color: NavajoWhite;
    color: navy;
    font-weight: lighter;
    font-size: 0.7em;
}

