body{
    background: NavajoWhite;
}

canvas {
    margin-left: auto;
    margin-right: auto;
    max-width:85%;
    max-height: 85%;
}

.canvas-container {
    position: relative;
}

.row {
    padding: 5px 0px;
}

/*Title*/
.container-1 { 
    background: navy;
    color: coral;
    padding: 50px 0 20px 0;
}

/*Search*/
.container-2 {
    background: navajowhite;
    color: navy;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

.container-2 h2 {
    font-size:1.5em;
    text-transform: uppercase;
    font-weight: bold;
    }

/*Map Coordinates*/
#coordinates {
    display: flex;
    flex-direction: column;
    background: navajowhite;
    }

#coordinates h5 {
    font-size: 1em;
    text-transform: uppercase;
    color: navajowhite;
    text-align: center;
    font-weight: bold;
    padding: 15px 0 10px 0;
    background-color: navy;
    }

#coordinates ul {
    font-size: 1em;
    color: navy;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-bottom: 10px;
    margin: 0px;
    }

/*Buttons*/
.container-4 {
    background: coral;
    padding: 20px 0 0px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: navy;
    }

/*Create Graph*/
.container-5 {
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    background: navy;
    color: navajowhite;
    padding: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

/*Download Files*/
.container-6 {
    background: coral;
    color: navy;
    text-align: center;
    padding: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.container-6 .container .row .col-4 p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-7 {
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    background: navy;
    color: navajowhite;
    padding: 15px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    
* {
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
}

.fs-1 {
    font-size: 4.5rem!important;
    background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-bottom: 15px;
}

.fs-2 {
    background-image: conic-gradient(#ee4b2b, #00c2cb, #553c9a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding-bottom: 0px;
}

.fs-3 {
    background-image: conic-gradient(#ee4b2b, #00c2cb, #553c9a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 3em!important;
}

.col {
    padding: 10px 0px 10px 0px;
}
#map {
    width: 100%;
    height: 500px;
    display: block;
}
.wrap {
    width: 70%; /*change width of searchbar */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    height: 60px;
    background-color: white;
    border: none;
    border-right: none;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    font-size: 20px;
}

.searchTerm:focus{
    color: navy;
}

.searchButton {
    width: 100px;
    background: coral;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#search-bar {
    margin-top: 0px;
}

#search-btn {
    margin-top: 0px;
}

.buttons{
    position:relative;
    text-align: center;
}

.btn-navy {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    background-color: transparent;
    color: navy;
    border: none;
    /*border-radius: 10px;*/
    height: 50px;
    width: 170px;
    border: 2px solid navy;
}

.btn-lg-navy {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    background-color: navy;
    color: navajowhite;
    border: none;
    /*border-radius: 10px;*/
}

.btn-navy:hover, .btn-lg-navy:hover {
    background-color: navajowhite;
    color: navy;
    border: none;
}

.btn-lg-navajowhite {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    background-color: navajowhite;
    color: navy;
    border: none;
    /*border-radius: 10px;*/
}

.btn-navajowhite:hover, .btn-lg-navajowhite:hover {
    background-color: navy;
    color: navajowhite;
    border: none;
}

.btn-coral {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    padding: 10px 20px;
    height: 60px;
    text-align: center;
    font-size: 15px;
    background-color: coral;
    color: navajowhite;
    border: none;
    /*border-radius: 10px;*/
    margin: 5px 0px;
}

.btn-lg-coral {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    position: relative;
    width:100%;
    display: inline-block;
    padding: 20px 40px;
    text-align: center;
    font-size: 20px;
    background-color: coral;
    color: navy;
    border: none;
    /*border-radius: 10px;*/
}

.btn-coral:hover, .btn-lg-coral:hover {
    background-color: NavajoWhite;
    color: navy;
    border: none;
}

.btn-lg-coral:disabled {
    cursor: not-allowed;
    position: relative; /* Add relative positioning */
    text-align: center;
    padding: 20px 40px;
    height: 70px; /* Allow button height to adjust */
}

.btn-lg-coral[disabled] .spinner-border {
    display: inline-block;
    position: initial;
    top: 50%; /* Vertically center the spinner */
    left: 50%; /* Horizontally center the spinner */
    width: 2rem;
    height: 2rem;
}

.btn-lg-coral[disabled] span:not(.spinner-border) {
    display: none;
}
  
.image {
    position: relative;
}

.custom-marker {
    width: 10px;
    height: 10px;
    background-color: navy;
  }

/* Hide the delete button */
.leaflet-draw .leaflet-draw-edit-remove {
    display: none;
}

/* Hide the edit layers button */
.leaflet-draw .leaflet-draw-edit-edit {
    display: none;
}


.custom-number-input {
    display: flex;
    align-items: center;
  }
  
  .custom-number-input input[type="text"] {
    font-size: 2em;
    height: 50px;
    width: 150px;
    color: navy;
    padding: 5px;
    border: 2px solid navy;
    font-weight: bolder;
    text-align: center;
    outline: none;
    background-color: transparent;
  }
  
  .custom-number-input button {
    background: transparent;
    border: none;
    color: navy;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
  }
  
  .custom-number-input button:hover {
    background-color: rgba(0, 0, 128, 0.1);
  }
/* ---------SINGLE DOUBLE TOGGLE ------------*/

/* Hide the default checkbox */
input[type="checkbox"] {
    display: none;
}

    /* Customize the toggle appearance */
.toggle {
    display: block;
    height: 50px;
    width: 180px;
    /*border-radius: 5px;*/
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}

    /* Styling for the labels */
.toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    line-height: 30px;
    text-align:center;
    font-size: 14px;
    border: 2px solid navy;

}

    /* Color for the left label (Single) */
.toggle-label.left {
    background-color: transparent;
    color: navy;
    /*border-radius: 15px 0 0 15px;*/

}

    /* Color for the right label (Double) */
.toggle-label.right {
    left: 50%;
    background-color: navy;
    color: navajowhite;
    /*border-radius: 0 15px 15px 0;*/
}


/* Styling for the labels in the active state */
.toggle-label.left.active {
    background-color: navy;
    color: navajowhite;
}

/* Styling for the labels in the active state */
.toggle-label.right.active {
    background-color: transparent;
    color: navy;
}
.col-6 {
    min-height: 75px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Create Graph Vertically alignment using col-4 which is 4 spaces of 12 grid, i.e. 3 columns*/
.col-4{
display: flex;
flex-direction: column;
justify-content: center;
}

.col-4 p {
    display: flex;
    align-items: center;
    height: 100%; /* Ensure the <p> takes the full height of the parent */
    margin: 0; /* Remove default margin to avoid extra spacing */
}

.col-md-6
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styling for the centered legend */
.legend {
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    color: navy;
    margin-top: 60px;
    font-size: 1.2em;

}

/* Styling for legend items */
.legend-item {
    margin-right: 20px; /* Add spacing between legend items if needed */
    display: flex;
}

/* Styling for legend color boxes */
.legend-color {
    width: 40px;
    margin-right: 5px;
}

.sideTextTop {
    color: navajowhite;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 0; /* Adjust the distance from the right as needed */
    top: 100px;
    transform: rotate(-90deg);
    white-space: nowrap; /* Prevent text from wrapping */

}

.sideTextCanvas {
    color: navy;
    position: absolute;
    right: 0; /* Adjust the distance from the right as needed */
    top: 50px;
    transform: rotate(-90deg);
    white-space: nowrap; /* Prevent text from wrapping */
}

.icon-container {
    position: relative;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    color: white;
    padding: 0 10px 0 10px;
  }

  .icon-container img {
    display: flex;
    margin: 0 auto;
  }

  .icon-container:hover img,
  .icon-container:hover p {
    color: coral; /* Change text color to blue on hover */
  }

  .icon-container .linkedin-blue {
    display: none; /* Initially hide the blue LinkedIn icon */
  }

  .icon-container:hover .linkedin-white {
    display: none; /* Hide the white LinkedIn icon on hover */
  }

  .icon-container:hover .linkedin-blue {
    display: inline-block; /* Show the blue LinkedIn icon on hover */
  }